@import "colors";
@import "mixins";

.registro {
  @include section;

  &__container {
    @include section_container;
  }
  &--form {
    display: flex;
    flex-direction: column;
  }

  &--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &--social-media > div > img {
    width: 30px;
    margin-right: 10px;
  }
  a {
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;

    &:hover {
      text-decoration: underline;
    }
  }
}
